/*------Base style------*/

body {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 270px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #ffff;        
    
}

.card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px;
}

@media (min-width: 640px) {
    margin: 0 40px;
}

/*------Top Card style------*/

.top-card {
    grid-column: 1 / -1;
    background-color:#ffffff;
}


.top-card h3 {
    color: #2bb3b1;
    margin-top: 35px;
    margin-bottom: 0px
}


.top-card h4 {
    color: hsl(71, 73%, 54%);
    margin-top: 35px;
    margin-bottom: 0px
}

.top-card p {
    color: grey;
    margin: 30px 0 40px 0;
}

/*------Bottom Card style------*/


/*------Middle Card style------*/
.middle-card {
    grid-column: 1 / -1;
    background-color: #2bb3b1;

}

.middle-card button {
    background: hsl(71, 73%, 54%);
}




/*------Third Card style------*/
.third-card {
    grid-column: 1 / -1;
    grid-row: 3 / 4; 
    background-color: #4abebd;
    height: 230px;
}


@media (min-width: 640px) {
    .middle-card {
        grid-column: 1 /9;
        grid-row: 2 / 3;
    }
    
.third-card {    
    grid-column: 9 / -1;
    grid-row: 2 / 3;
    }
}

.third-card ul {
    list-style-type: none;
}



/*------Footer style------*/

footer {
    grid-column: 1 / -1;
    grid-row: 4 /5;
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {
footer {
    grid-row: 3 / 4;
    grid-column: 2 / 16;
}
}

<style>.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
</style>